#content-body .mr-state-widget {
  margin: 0 10px;
}

#content-body .discussion-form-container {
  padding: 0;
  margin-top: 20px;
}

#content-body .detail-page-description {
  padding-bottom: 0;
  border: none;
}

#content-body .detail-page-description .title {
  margin-bottom: 0;
}

#content-body .merge-request-tabs-holder {
  margin-bottom: 15px;
}

.layout-page .nav-sidebar {
  transition: none;
}

.layout-page.right-sidebar-collapsed {
  transition: none;
}

#content-body .detail-page-header {
  border: none;
}
#content-body .detail-page-header {
  border: none;
}

#content-body .description h1 {
  font-size: 20px;
}
